node_modules/
.env
*.sqlite
*.sqlite-journal
*.db
*.log
logs/
backups/
server/backups/
server/logs/
.DS_Store
dist/
build/
scratch/
backup_pro_version/
*.bak
temp/

# Generated Receipts
controllers/receipt_*.pdf
*.pdf
receipts/
